<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCLUz5PMde9376cTd5Sz6V2K5IL8rcjMXc</string>
	<key>GCM_SENDER_ID</key>
	<string>941582132499</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Ashok-Saravanan.E-Cycle</string>
	<key>PROJECT_ID</key>
	<string>e-cycle-c4661</string>
	<key>STORAGE_BUCKET</key>
	<string>e-cycle-c4661.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:941582132499:ios:c545e22530a5d28333a6e6</string>
</dict>
</plist>